<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{%-10c{1}} - %m"/>
        </Console>

        <RollingFile name="rollingFile"
                     fileName="logs/money_transfer.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">>
            <PatternLayout>
                <Pattern>%d{ISO8601} [%t] %-5level %logger{%-10c{1}} - %m</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="ru.playtox.accountservice.Account" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>

        <Logger name="ru.playtox.accountservice.AccountService" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>

        <Logger name="ru.playtox.main.Runner" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>